<h1>My Pizzaplace from Tommy</h1>
<ul class="list-group">
  {{#each items}}
  <li class="list-group-item">{{ name }} {{ price }}</li>
  {{/each}}
  <li class="list-group-item">
    Total: <strong>{{total items}}</strong>
  </li>
</ul>
